#submitBtn {
  color: black;
}

#fieldLabel {
  text-align: center;
  width: 80px;
}

#fieldInput {
  border: none;
  border-radius: 5px;
  color: black;
  padding: 2px;
}

#contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#field {
  display: flex;
  margin: 10px;
  outline: none;
}

#submitBtn {
  border: none;
  border-radius: 2px;
  width: 25%;
  margin-top: 10px;
}
