#center {
  max-width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.pullForward {
  z-index: 100;
  position: relative;
}
