#postList {
  overflow-y: auto;
  max-height: 100%;
  width: 100%;
}

/*Start Attribution*/
#postBreakLine {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  border-color: #8d8d8d;
  margin-left: 100px;
  margin-right: 150px;
  text-align: center;
}

#postBreakLine:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
    border-color: #8d8d8d;
}

/*End Attribution https://css-tricks.com/examples/hrs/*/

#searchTagList {
  display: flex;
  margin: 10px;
  min-height: 33px;
}

#searchTag {
  background-color: white;
  padding: 3px;
  border-radius: 8px;
  font-size: 12px;
  color: black;
  margin: 5px 0;
  margin-left: 3px;
  margin-right: 3px;
}

#searchTagX {
  color: gray;
  padding: 3px;
}

#searchTag:hover #searchTagX{
  color: red
}

#addTagBtn {
  font-size: 10px;
  background-color: #252627;
  color: white;
  stroke: bold;
  border: 1px solid rgb(8, 253, 216);
  border-radius: 5px;
  outline:none;
  height: 25px;
  margin: 5px 0;
}

#addTagBtn:hover {
  background-color: rgba(8, 252, 215, 0.15);
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

}
