#allItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#icons {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#icon {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  width: 100%;
}

#ebetPic {
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#top {

  background-color: white;
}

#hoverInfo {
  text-align: center;
  margin-top: -30px;
  opacity: 0;
  text-decoration: none;
  color: rgb(8, 253, 216);
}

#link {
  text-decoration: none;
  color: white;
}

#link:hover > #icon{
  opacity: 0;
  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: .2s;
}

#link:hover > #hoverInfo{
 opacity: 1;
 -webkit-animation-name: fadeIn;
 -webkit-animation-duration: .2s;
}


@-webkit-keyframes fadeIn {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeOut {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}

.is-active {
  color: rgb(8, 253, 216) !important;
}

#mediaIcon {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  color: white;
  display: block;
  margin: auto;
}

#elipses {
  z-index: 10;
  height: 80px;
}

#elipses:hover ~ #circle {
  display: block;
}

#elipses:hover > #mediaIcon {
  color: rgb(8, 253, 216);
}

#circle:hover {
  display: block;
}

#icon0 {
  -webkit-animation-name: circleIcon0Move;
}

#icon45 {
  -webkit-animation-name: circleIcon45Move;
}

#iconN45 {
  -webkit-animation-name: circleIconN45Move;
}

.circleIcon {
  font-size: 22px;
  color: white;
  position: absolute;
  top: -10px;
  left: -10px;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: .2s;
}

.circleIcon:hover {
  color: rgb(8, 253, 216);
}

@-webkit-keyframes circleIcon0Move {
  0%   {transform: translate(0px);}
  100% {transform: translate(60px);}
}

@-webkit-keyframes circleIcon45Move {
  0%   {transform: rotate(45deg) translate(0px);}
  100% {transform: rotate(-45deg) translate(60px);}
}

@-webkit-keyframes circleIconN45Move {
  0%   {transform: rotate(-45deg) translate(0px);}
  100% {transform: rotate(45deg) translate(60px);}
}

.circle {
  display: none;
  position: fixed;
  border-radius: 50%;
  background-color: rgb(24, 24, 24);
  width: 120px;
  height: 120px;
  bottom: 0;
  left: -20px;
}

.circle a {
  display: block;
  position: absolute;
  top: 50%; left: 50%;
}
